body {
  background-color: #0f1115;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navdiv {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;      /* centers horizontally */
  padding: 20px 40px 30px 40px;
}

.navtitle {
  margin: 0;
  margin-bottom: 20px;
}

.navsearch {
  width: 100%;
  display: flex;
  justify-content: center; /* centers the whole search bar block */
}

.navsearch form {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.btn-primary {
  background-color: rgb(67, 116, 180);
  color: rgb(255, 255, 255);
  padding: 5px;
}

.page {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.pageLayout {
  display: flex;
  width: 100%;
  gap: 24px;
}

/* LEFT — 75% */
.leftPanel {
  flex: 3;           /* ratio, not percent */
  min-width: 0;      /* important for charts */
}

/* RIGHT — 25% */
.rightPanel {
  flex: 1;
  display: flex;
  flex-direction: column;  /* stack vertically */
  gap: 16px;
}

/*------Player Hero css------*/

.box1 {
  display: "flex";
  gap: 16;
  align-items: "center";
}